.card {    
	padding: 8px;
    width: 315px;
    text-align: center;
    border-radius: 8px;
    box-shadow: black 0px 0px 8px 1px;
}

.card img{
	width: 250px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 16px;
	margin: 48px;
}

@media (min-width: 576px) { 
	.cards {
		grid-template-columns: 1fr;

	}
}

@media (min-width: 768px) { 
.cards {
		grid-template-columns: 1fr;
		
	}
 }

@media (min-width: 992px) { 
.cards {
		grid-template-columns: 1fr 1fr;
		
	}
 }

@media (min-width: 1200px) { 
.cards {
		grid-template-columns: 1fr 1fr 1fr;
		
	}
 }

@media (min-width: 1400px) { 
.cards {
		grid-template-columns: 1fr 1fr 1fr;
		
	}
 }